node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
# Add Node_module Folder for the rn_Starter Project.
/rn-starter/node_modules

# Add Node_module Folder for the Food Project.
/food/node_modules

