# Add Node_module Folder for the rn_Starter Project.
/rn-starter/node_modules

# Add Node_module Folder for the Food Project.
/food/node_modules

# Add Node_module Folder for the blog Project.
/blog/node_modules


# Add Node_module Folder for the json Server Project.
/jsonServer/node_modules


# Add Node_module Folder for the Album Project.
/Albums/node_modules

# Add Node_module Folder for the tracks Project.
/tracks/node_modules
